---
title: photos
layout: page
permalink: /photos/
---

<link rel="stylesheet" href="{{ '/assets/css/photos.css' | relative_url }}">

<p>Some photos from outside:</p>
<div class="photo-grid">
    {% assign photos_dir = '/assets/images/trip-photos/' %}
    {% for file in site.static_files %}
        {% if file.path contains photos_dir %}
            {% assign ext = file.extname | downcase %}
            {% if ext == '.jpg' or ext == '.jpeg' or ext == '.png' or ext == '.webp' %}
                <img src="{{ file.path | relative_url }}" alt="photo">
            {% endif %}
        {% endif %}
    {% endfor %}
</div>


