html {
    padding: 0px;
}

:root {
    --ff-primary: 'Newsreader', serif;

    --fw-regular: 300;

    --clr-light: #fafafa;
    --clr-dark: #000000;
    

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem; 
        --fs-h3: 1.5rem;
        --fs-body: 1.5rem;
    }
}

/* basic styling */
body {
    margin: 0;
    padding: 0;
    background-color:var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

}

section {
    max-width: 1400px;
    margin: auto;
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

/* typography */
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3)}
p { font-size: var(--fs-body) }

h1,
h2,
h3 {
    font-weight: var(--fw-regular);
}

.section__title {
    margin-bottom: 0.25em;
    text-align: center;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}


/* Nav Bar */
nav {
    position: sticky;
    top: 0px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

.nav--div {
    margin: 0 auto;
    width: max-content;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
    text-decoration: none;
    color: var(--clr-light);
    padding: 0.3em 2em;
}

.nav-link:hover {
    text-decoration: none;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    padding: 0.3em 2em;
}

/* Intro Section */
#section__title--intro {
    margin: auto;
    padding: 5em 0em;
    text-align: left;
    width: max-content;
    color: var(--clr-light);
}

header {
    background-image: url(content/lake2.jpg);
}


/* My Project Section */
.project {
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/* Contact Me Section */
.contact--button {
    margin: 0 0.1em;
    padding: 0.5em;
    width: max-content;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    border-style: solid;
    border-color: var(--clr-dark);
    border-radius: 0.5em;
}

.contact--button:hover {
    transform: scale(1.1);
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

.button-container {
    width: max-content;
    margin: auto;
}


/* footer */
footer {
    background-color: var(--clr-dark);
    padding: 0.25em;
}

#footer-text {
    padding: 0;
    color: var(--clr-light);
    font-size: 0.5em;
    text-align: center;
}