html {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgb(24, 26, 27);
}

nav {
	display: flex;
	justify-content: center;
	gap: 10px
}

#header-image {
	width: 100%;
}

main {
	background-color: rgb(32, 35, 36);
	height: 100%;
	width: 700px;
	margin: 20px 0px 20px 0;
	padding: 20px 20px 20px 20px;
}

figure {
	margin: 0 0 0 0;
}

figcaption {
	text-align: center;
	font-size: 12px;
	font-style: italic;
	opacity: 0.65;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	color: rgb(232, 230, 227);
}

h1 {
	font-size: 30px
}

h2 {
	font-size: 21px;
}

p {
	font-family: "georgia", serif;
	color: rgb(200, 195, 188);
	font-size: 16px;
}


a:link {
	color: #33ff99;
}

a:visited {
	color: #33ff99;
}

a:hover {
	color: #8b33ff;
}
