*,
*, ::before,
*, ::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Josefin Sans', sans-serif; 
    --ff-secondary: 'Open Sans', sans-serif; 

    --fw-regular: 300;
    --fw-bold: 900;

    --clr-light: #eeeeee;
    --clr-dark: #3e3a3a;
    --clr-accent: #9999ff;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem; 
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* basic styling */

body {
    background-color:var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}


strong { font-weight: var(--fw-bold)}

/* typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-regular);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about-me {
    background-color: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;

}

.section__title--projects,
.section__subtitle--project,
.section__info--project,
.section__desc--project {
    color: var(--clr-light);
}

.section__info--project {
    margin: 0;
    size: var(--fs-body)

}

/*  Header */

nav { display: none;}


/* Intro Section */

.intro {
    position: relative;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-template-columns: max-content;
        column-gap: 1em;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
    }

}


/* My Project Section */
.projects {
    background-color: var(--clr-dark);
}

.projects__list {
    display: grid;
    grid-template-columns: 1fr;
}

.project {
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: max-content max-content;
}

.project-thumbnail {
    justify-self: start;
    width: 100%;
}

.image--project {
    justify-self: start;
    max-width: 100%;
}

.section__desc--project {
    justify-self: start;
    width: 900px;
    grid-column: 1/3;
}




